body{
    background: white;

}

.banner{
    overflow: hidden;
    height: fit-content;
    width: 100%;
    /* border: red 1px solid; */
    display: flex;
    justify-content: center;
}
.board{
    overflow: hidden;
    height: fit-content;
    width: 100%;
    /* border: red 1px solid; */
    display: flex;
    justify-content: center;
}

.roll{
    /* border: red 1px solid; */
    display: flex;
    gap: 30px;
    /* align-items: center; */
    /* justify-items: center; */
    /* justify-content: left; */
    padding: 30px 0px 50px;
    height: fit-content;
    width: 9999rem;

    position: relative;
    left: 10%;
}

.green{
    background: rgba(243, 255, 234, 1);
}
.yellow{
    background: rgba(255, 253, 234, 1);
}
.shadow{
    box-shadow: 0px 10px 20px 0px #0000001F;    
}
.medium{
    border: 1px solid #000000;
    border-radius: 0.7rem;
    height: calc(317px * 0.8);
    width: calc(495px * 0.8);
}
.large{
    border: 1px solid #000000;
    border-radius: 0.7rem;
    height: calc(482px * 0.9);
    width: calc(676px * 0.9);
}